*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
}

.first{

    justify-content: space-around;
    display: none;
  gap: 30px;
}

.active{
    display: flex;
   
}
.article{
    width: 40%;
}
.images{
    width: 60%;
}
.baseSection{
    display: flex;
}
.bottom-page{
    display: flex;
    flex-direction: column;
}
.btns{
    display: flex;
gap: 2px;
float: right;
}
.previous,.next{
    width: 50px;
    height: 30px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 0px;

}
.previous{
    background-image: url(/images/icon-angle-left.svg);
    
}
.next{
    background-image: url(/images/icon-angle-right.svg);
}
