html{
    overflow-x:hidden;
}
.first{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
    text-align: left;
    
}
h1,h2,h3{
    font-size: x-large;
}
h4{
    font-size: larger;
}
.article{
    width: 480px;
    margin-left: 50px;
    padding-bottom: 0px;
}
.top{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    margin-right:  10px;
   
}
a:hover{
    color: gray;
}
.shop{
    color: black;
}
.shop:hover{
    color:gray
}
li{
    display: inline-block;
    
}
.room{
    
    font-size: x-large;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}
.content{
    display:block;
}
.active{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topbar{

width: 50%;
margin-top: 00px;
margin-left: 120px;

position: absolute;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    width: 68.7%;
    margin-top: 495px;
margin-bottom: -534px;
}
button{
    width: 70px;
    height: 40px;
    background-color: black;
    border: 0px;
   
}
button:hover{
    background-color: gray;
}
.previous{
    width: 67px;
    background-image: url(./images/icon-angle-left.svg);
    background-repeat: no-repeat ;
    background-position: center;

}
.next{
    background-image: url(./images/icon-angle-right.svg);
    background-repeat: no-repeat ;
    background-position: center;
}
.theLast{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
}
.baseSection{
 display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
gap: 53px;
margin-left: 23px;

}
.fourth{
    width: 30%;
    height: 20%;
    
}
.burger{
display: none;
}
.close{
    display: none;
}
@media (max-width:1250px)  {

    .theLast{
        display: flex;
        flex-direction: column;
    }
    .fourth{
margin-left: 30px;
width: 50%;
    }
}
@media (max-width:900px) {
    html{
        overflow-x: hidden;
    }
    .images{
    width: 100%;
    height: 500px;
    }
    .topbar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin: 0px;
    }
.top{
    width: 100%;
    justify-content: center;
}
.room{
    margin-top: -20px;
}
    a{
        color: black;
    }
    .navLinks{
        display: flex;
        background-color: white;       
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 0px;
    }
    .btns{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end;
        margin-top: 460px;
        width: 97%;
        padding-right: 30px;
        position: absolute;
    }
.burger{

    display: block;
    width: 40px;
    padding-top: 10px;
    
}
.hidden{
display: none;
}
.close{
    display: block;
    margin-right: 30px;
    height: 20px;
    margin-left: -20px;
    
}
.active{
    padding-bottom: 30px;
}
.fourth{
    margin-left: 30px;
    width: 80%;
        }
}
